{% extends 'base.html.twig' %}

{% block title %}Ciclo index{% endblock %}

{% block body %}
    <h1>Ciclo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cod_ciclo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ciclo in ciclos %}
            <tr>
                <td>{{ ciclo.codCiclo }}</td>
                <td>{{ ciclo.nombre }}</td>
                <td>{{ ciclo.descripcion }}</td>
                <td>
                    <a href="{{ path('app_ciclo_show', {'cod_ciclo': ciclo.cod_ciclo}) }}">show</a>
                    <a href="{{ path('app_ciclo_edit', {'cod_ciclo': ciclo.cod_ciclo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ciclo_new') }}">Create new</a>
{% endblock %}
