{% extends 'base.html.twig' %}

{% block title %}Ciclo{% endblock %}

{% block body %}
    <h1>Ciclo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cod_ciclo</th>
                <td>{{ ciclo.codCiclo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ ciclo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ ciclo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ciclo_index') }}">back to list</a>

    <a href="{{ path('app_ciclo_edit', {'cod_ciclo': ciclo.cod_ciclo}) }}">edit</a>

    {{ include('ciclo/_delete_form.html.twig') }}
{% endblock %}
