{% extends 'base.html.twig' %}

{% block title %}Curso{% endblock %}

{% block body %}
    <h1>Curso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cod_curso</th>
                <td>{{ curso.codCurso }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ curso.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_curso_index') }}">back to list</a>

    <a href="{{ path('app_curso_edit', {'cod_curso': curso.cod_curso}) }}">edit</a>

    {{ include('curso/_delete_form.html.twig') }}
{% endblock %}
